<%= render 'list', books: @books %>
      <div class="col-md-8 offset-md-1">
      <% @books.each do |book| %>
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= image_tag user.get_profile_image(100,100) %></td>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>